body {
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    color: #cccccc;
	background-color: #222222;
	overflow-y: auto;
	margin: 0px;
}

#content {
	width: 100%;
	max-width: 500px;
	margin: auto;
	padding-top: 10px;
}

#title-bar {
	width: 100%;
	top: 0px;
	position: fixed;
	background-color: #111111;
	border-bottom: solid #444444;
}

#title {
	margin: auto;
	font-size: 22px;
	font-weight: bold;
    height: 50px;
    line-height: 50px;
	text-align: center;
    justify-content: center;
}

#title-buffer {
	width: 100%;
	height: 52px;
	top: 0px;
	position: static;
    z-index: 500;
}

a {
    text-decoration: none;
}

a:link, a:visited, a:active {
    color: #ffffff;
}

a:hover {
    color: #cccccc;
}

a.button {
    border: 1px solid #ffffff;
    padding: 3px 5px;
    white-space: nowrap;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

a.button:hover {
    border: 1px solid #cccccc;
}

.messages { font-style: italic; text-align: center; }
.wide { width: 70%; top: 0px; }
.narrow { width: 30%; top: 0px; }
.right { float: right; text-align: right; }

tr:nth-child(even) { background-color: #444444; border-color: #444444; }

input {
    color: #ffffff;
    background-color: transparent;
    border: solid 1px #cccccc;
}

select {
    color: #ffffff;
    background-color: transparent;
    border: solid 1px #cccccc;
}

select option { background-color: #222222; }

input[type="text"] {
    width: 100%;
    padding: 5px;
    margin: 5px;
    font-size: 16px;
}

input[type="submit"] {
    width: 90%;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

button, input[type="submit"], input[type="reset"] {
    border-color: #ffffff;
    cursor: pointer;
    font-size: 16px;
}

button:hover, input[type="submit"]:hover, input[type="reset"]:hover {
    color: #cccccc;
    border-color: #cccccc;
}

input[type="radio"] { opacity: 0; position: fixed; width: 0; }
label { display: inline-block; padding: 5px 10px; border: 1px solid #444444; cursor: pointer; }
input[type="radio"]:checked + label { background-color: #111111; border-color: #ffffff; }

ul { padding: 0; text-align: center; }
li { display: inline-block; margin: 0 10px; }
